$primary:        #007bff    !default;
$secondary:      #0277bd    !default;

@import "~bootstrap/scss/bootstrap.scss";

// for material
@import '~@angular/material/theming';
@include mat-core();

$md-color-primary: (
    50 : #e0efff,
    100 : #b3d7ff,
    200 : #80bdff,
    300 : #4da3ff,
    400 : #268fff,
    500 : #007bff,
    600 : #0073ff,
    700 : #0068ff,
    800 : #005eff,
    900 : #004bff,
    A100 : #ffffff,
    A200 : #f2f5ff,
    A400 : #bfceff,
    A700 : #a6baff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-primary: mat-palette($md-color-primary);

$md-color-secondary: (
    50 : #e1eff7,
    100 : #b3d6eb,
    200 : #81bbde,
    300 : #4ea0d1,
    400 : #288bc7,
    500 : #0277bd,
    600 : #026fb7,
    700 : #0164ae,
    800 : #015aa6,
    900 : #014798,
    A100 : #c3dbff,
    A200 : #90bcff,
    A400 : #5d9dff,
    A700 : #448dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondary: mat-palette($md-color-secondary, 800);
$md-theme: mat-light-theme($md-primary, $md-secondary);
@include angular-material-theme($md-theme);
